Django
djangorestframework
djangorestframework-simplejwt
requests
psycopg2-binary
env
pydantic
pytz
passlib
bcrypt
cryptography
python-jose
python-dotenv
drf-spectacular
drf-yasg
inflection
jsonschema
jsonschema-specifications
packaging
PyJWT
PyYAML
referencing
rpds-py
sqlparse
typing_extensions
uritemplate


